@import url('https://fonts.googleapis.com/css?family=Raleway');


.col-md-offset-2 {
    margin-left: 16.66666667%;
}

.carousel-inner {
  color: #fff;
}

.img-fluid {
    display: block;
}

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 60px;
}

.carousel-control-prev,
.carousel-control-next {
    background: none;
    color: #04c1c9 !important;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}

#quote-carousel .carousel-indicators {
    position: relative;
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-top: 20px;
}

#quote-carousel .carousel-indicators li {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 0.4;
    overflow: hidden;
    transition: all .4s ease-in;
    vertical-align: middle;
}

#quote-carousel .carousel-indicators .active {
    margin: 0;
    width: 128px;
    height: 128px;
    opacity: 1;
    transition: all .2s;
}

.carousel-item blockquote {
    border-left: none;
    margin: 0;
}

.carousel-item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}