* {
    font-family: 'Arial';
    font-size: 1rem;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #dafefe;
    background: white;
}

.header-row {
    border: 0;
}

/* NAVBAR */

header {
    position: sticky;
    top: 0 !important;
    z-index: 10;
    box-shadow: 0 0 5px 0 rgba(3, 3, 3, 0.493);
}

nav i {
    color: white;
    font-size: 2rem;
}

nav a {
    color: white !important;
    text-transform: uppercase;
}

nav a:hover {
    color: #6b6b6a !important;
}

.dropdown-item a:hover {
    background-color: lightgrey;
}

nav .show {
    margin-left: 10px;
}

#logo{
    position: fixed;
    top: 30px;
    left: 30px;
    height: 70;
    width: 200;
}

/* MOBILE SCREENS */
@media all and (max-width: 505px) {    
    footer i {
        font-size: 1.5rem;
    }

    footer li {
        padding: 1rem;
    }
}

/* LARGE SCREENS */
@media all and (min-width: 992px) {
    nav i {
        font-size: 1.5rem;
    }
}


/* COLOURS
white: #ffffff 
light grey #f9f6f7 
light orange #ffe8d6
orange #ff971d
*/