/* OVERRIDES */
.container-new{
  margin-left: 0px!important;
}

/* HEADER */
section {
  background-image:url('../images/she2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 40vh;
  width: 100vw;
}

.overlay{
	height: 70vh;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(175, 174, 174, 0.79);
	text-align:center
} 

.description {
  padding-top: 220px;
  width: 22rem;
  margin: auto;
}

.description h1{
  color: white ;
  text-align:center
}

/* SEARCH BAR */
#search-bar-rental {
  width: 70vw;
  font-size: 1rem;
  border: 1px solid #ff971d;
  padding: 10px;  
}

.input-wrapper {
  display:inline-block;
  position: relative
}
.input-wrapper:after {
  font-family: 'FontAwesome';
  content: '\f002';
  position: absolute;
  right: 10px;
  top: 10px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
  background-color: rgb(172, 170, 170);
  padding: 2% 2% 1% 2%;
  font-size: 20px;
  z-index: 4;
}

/* CARDS */
#rental-card {
  padding: 30px 10px 10px 10px;
  border-top: 1px solid rgb(228, 227, 227);
}

/* FILTER COLUMN */
#filter-heading {
  font-weight: bold;
  font-size: larger;
  margin-bottom: 0;
}

input[type="checkbox"] {
  margin-left: 0.5rem;
}

#check-option {
  padding: 1px;
}

/* BUTTON */

input[type="button"] {
  margin-bottom: 10px;
  background: #ff971d;
  border-radius: 3rem;
  border: 1px solid white;
  padding: 5px 15px;
  color: white;
}

input[type="button"]:hover {
  margin-bottom: 10px;
  background: white;
  border-radius: 3rem;
  border:1px solid #ff971d;
  padding: 5px 15px;
  color: #ff971d;
}

input[type="button"]:focus {
  margin-bottom: 10px;
  background: white;
  border-radius: 3rem;
  border:1px solid #ff971d;
  padding: 5px 15px;
  color: #ff971d;
}

input[type="submit"] {
  background-color: white;
  padding: 0 20px;
  border:1px solid #ff971d; 
  border-radius: 40px;
  color: black;
}

input[type="submit"]:hover{
  background-color: #f9f6f7 ;
  padding: 0 20px;
  border:1px solid black; 
  border-radius: 40px;
  color: #ff971d;
}


/* SLIDER */

.slider-red > .bar > span{
    background: #ff971d!important;
}
.slider-red > .bar-btn{
    background: #ff971d!important;
    border: 2px solid #fff !important;
}
.slider-red:hover > input + .slider-container > .bar-btn {
  box-shadow: inset 0 0 2px #ff971d;
  color: #ff971d;
  background: #fff !important;
  border: 2px solid #ff971d !important;
}

.dot{
    width: 7px !important;
    height: 7px;
    background: #fff;
    display: block;
    position: absolute;
    border-radius: 125%;
    top: 2px;
}

.slider {
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
  width: 90%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.slider > input {
  opacity: 0;
  width: 100%;
  height: 40px;
  position: relative;
  z-index: 5;
  -webkit-appearance: none;
}
.slider > input::-webkit-slider-thumb {
  -webkit-appearance: none;
  z-index: 100;
  position: relative;
  width: 50px;
  height: 30px;
  -webkit-border-radius: 10px;
}
.slider > span.slider-container {
  min-height: 40px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: -8px;
  right: 46px;
  z-index: 3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.slider > span.slider-container > span.bar {
  background-color: #dadada;
  display: inline-block;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  height: 11px;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.slider > span.slider-container > span.bar > span {
  background: orange;
  display: inline-block;
  float: left;
  height: 11px;
  width: 0%;
}

.slider > span.slider-container > span.bar-btn {
  display: inline-block;
  position: absolute;
  min-width: 55px;
  max-width: 100px;
  height: 32px;
  font-weight: bold;
  text-align: center;
  background: #00965b;
  left: 0;
  top: 50%;
  border-radius: 100px;
  border: 2px solid #dadada;
  z-index: 5;
  color: #fff;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform: translateY(-50%);
}

.slider > span.slider-container > span.bar-btn > span {
    position: relative;
    position: absolute;
    left: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* CHECKBOX */
.checkbox {
  width: 100%;
  margin: auto;
  position: relative;
  display: block;
}
.checkbox label {
  position: relative;
  min-height: 34px;
  display: block;
  padding-left: 40px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.checkbox label span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.checkbox label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 5px;
  width: 18px;
  height: 18px;
  transition: transform 0.28s ease;
  border-radius: 3px;
  border: 2px solid #ff971d;
}
.checkbox label:after {
  content: '';
  display: block;
  width: 8px;
  height: 4px;
  border-bottom: 2px solid #ff971d;
  border-left: 2px solid #ff971d;
  transform: rotate(-45deg) scale(0);
  transition: transform ease 0.25s;
  position: absolute;
  top: 12px;
  left: 10px;
}
.checkbox input[type="checkbox"] {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
  margin-left: -20px;
}
.checkbox input[type="checkbox"]:checked ~ label:before {
  border: 2px solid #ff971d;
}
.checkbox input[type="checkbox"]:checked ~ label:after {
  transform: rotate(-45deg) scale(1);
}
.checkbox input[type="checkbox"]:focus + label::before {
  outline: 0;
}

#data-left {
  width: 100px;
}

/* COLOURS
white: #ffffff 
light grey #f9f6f7 
light orange #ffe8d6
orange #ff971d
*/  