/* GLOBAL STYLES
-------------------------------------------------- */



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.carousel-item h1 {
  font-weight: bold;
}

.carousel-item h1,p {
  color: #000;
}

.btn {
  border-radius: 0;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */

.marketing .counter {
  background-color: #FBD549;
}

.marketing h5 {
  font-family: monospace;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
}


/* Featurettes
------------------------- */

hr {
  border-top: 1px dashed #2D55A2;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 500;
  line-height: 1;
  letter-spacing: -.05rem;
}

.featurette-heading span {
  color: #5FDDE0;
}

.featurette .col-md-5 img {
  width: 90%;
  height: auto;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
