body {
  background: #f1f1f1;
}

.blog-topic {
  padding: 10px 20px;
  margin: 10px 0px;
  margin-left: 100px;
  max-width: max-content;
}

.link {
  color: white;
  text-decoration: none;
  border-radius: 5px;
  background-color: #ff971d;
  text-align: center;
  font-weight: bolder;
  padding: 10px;
  margin-right: 30px;
}

.link:hover {
  color: white;
  text-decoration: none;
  border-radius: 5px;
  background-color: #ff971d;
  text-align: center;
  font-weight: bolder;
  padding: 10px;
  margin-right: 30px;
  text-decoration: none;
}

.middle {
  background-color: white;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

.heading {
  color: #ff971d;
  padding-left: 30px;
  padding-top: 30px;
}

.blog_image {
  background-color: white;
  padding: 10px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

.blog_text {
  padding: 50px 10px;
}

.signupbox {
  margin: 10px;
}

.signupbox h4 {
  color: #ff971d;
  text-align: center;
}

.signupbox input {
  width: 100%;
}

.create {
  background-color: #ff971d;
  text-align: center;
  color: white;
  font-weight: bolder;
  padding: 10px;
  margin: 10px;
}

.create:hover,
.create:focus,
.create:active {
  background-color: #ff971d;
  text-align: center;
  color: white;
  font-weight: bolder;
  padding: 10px;
  margin: 10px;
}

.recent-post {
  margin: 40px 10px;
}

.recent-post h4 {
  color: #ff971d;
}

.recent-box .row {
  margin: 20px;
}

.recent-box img {
  width: 100%;
}

.recent-box h5 {
  width: 100%;
  color: #ff971d;
}

.recent-box p {
  font-size: 13px;
  width: 100%;
}

.pb-cmnt-container {
  margin-top: 50px;
}

.pb-cmnt-textarea {
  resize: none;
  padding: 20px;
  height: 130px;
  margin-bottom: 15px;
  margin-top: 0px;
  width: 100%;
  border: 1px solid #F2F2F2;
}

@media screen and (max-width: 1080px){
  .blog-topic {
    padding: 10px 20px;
    margin: 10px 0px;
    max-width: max-content;
  }
}