body {
  background: #f1f1f1;
}

.blog-topic {
  padding: 10px 20px;
  margin: 10px 0px;
  margin-left: 100px;
}

.link {
  color: white;
  text-decoration: none;
  border-radius: 5px;
  background-color: #ff971d;
  text-align: center;
  font-weight: bolder;
  padding: 10px;
  margin-right: 30px;
}

.link:hover {
  color: white;
  text-decoration: none;
  border-radius: 5px;
  background-color: #ff971d;
  text-align: center;
  font-weight: bolder;
  padding: 10px;
  margin-right: 30px;
  text-decoration: none;
}

.middle {
  background-color: white;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

.heading {
  color: #ff971d;
  padding-left: 30px;
  padding-top: 30px;
}

.blog_image {
  background-color: white;
  padding: 10px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

.blog_text {
  padding: 50px 10px;
}

.signupbox {
  margin: 10px;
}

.signupbox h4 {
  color: #ff971d;
  text-align: center;
}

.signupbox input {
  width: 100%;
}

.create {
  background-color: #ff971d;
  text-align: center;
  color: white;
  font-weight: bolder;
  padding: 10px;
  margin: 10px;
}

.create:hover,
.create:focus,
.create:active {
  background-color: #ff971d;
  text-align: center;
  color: white;
  font-weight: bolder;
  padding: 10px;
  margin: 10px;
}

.recent-post {
  margin: 40px 10px;
}

.recent-post h4 {
  color: #ff971d;
}

.recent-box .row {
  margin: 20px;
}

.recent-box img {
  width: 100%;
}

.recent-box h5 {
  width: 100%;
  color: #ff971d;
}

.recent-box p {
  font-size: 13px;
  width: 100%;
}

.pb-cmnt-container {
  margin-top: 50px;
}

.pb-cmnt-textarea {
  resize: none;
  padding: 20px;
  height: 130px;
  margin-bottom: 15px;
  margin-top: 0px;
  width: 100%;
  border: 1px solid #F2F2F2;
}

.site-footer {
  background-color: whitesmoke;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
  margin-top: 30px;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer h6 {
  color: black;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: gray;
}

.site-footer a:hover {
  color: coral;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none
}

.footer-links li {
  display: block
}

.footer-links a {
  color: #737373;
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  color: coral;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block
}

.site-footer .social-icons {
  text-align: right
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d
}

h1 {
  color: blue-violet;
}

.copyright-text {
  margin: 0
}

@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px
  }
}

@media (max-width:367px) {
  .site-footer {
    padding-bottom: 0
  }

  .site-footer .copyright-text, .site-footer .social-icons {
    text-align: center
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  background-color: #eceeef;
  color: white;
  ;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: #fff;
  background-color: #29aafe
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.social-icons a.facebook:hover {
  background-color: #3b5998
}

.social-icons a.twitter:hover {
  background-color: #00aced
}

.social-icons a.linkedin:hover {
  background-color: #007bb6
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89
}

@media (max-width:767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600
  }
}
