.personal-container h3 {
 font-weight: bold;
}

.personal-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.personal-container .form-title {
  color: #ff9719;
}

#cards .personal-container .accordion .card .card-header .mb-0 button {
  color: #ff9719;
}

#cards .personal-container .accordion .card .card-header .mb-0 button:hover {
  text-decoration: none;
}

.check{
 float:right;
}
.container_opt{
width:400px;
margin-left:50px;
padding-right: 15px;
padding-left: 15px;
}
.container_revmain {
  margin: 16px 0;
  padding-right: 15px;
  padding-left: 15px;
  margin-left:50px;
  
}
.container_rev {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
  padding-right: 15px;
  padding-left: 15px;
  width:800px;
}

.container_rev::after {
  content: "";
  clear: both;
  display: table;
}

.container_rev img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container_rev span {
  font-size: 20px;
  
}
.container_star{
height:25px;
border-radius:5px;
float:right;

}

.checked {
  color: orange;
}

.pagination {
  display: inline-block;
  margin-left:350px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color:#ff9719;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

@media (max-width: 768px) {

  .container_rev{
      width:350px;
      margin-left:-50px;
  }
.container_opt{
width:350px;
margin-left:0px;
}
 .mobile{
margin-left:168px;
}
  .container img {
      margin: auto;
      float: none;
      display: block;
  }
 .pagination {
  margin-left:50px;
}
}

.container_work{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  padding:8px;
  border-radius:6px;
  max-width:360px;
  z-index:1;
  background-color: #fff;
  border: 1px solid #ff971d;
}
.row_work:after {
  content: "";
  display: table;
  clear: both;
}
.column_work {
  float: left;
  padding: 10px;
  padding: 0 8px;
}
.left_work{
width:15%;
}
.right_work{
width:85%;
}
hr.new1 {
  border-top: 1px solid #ff971d;
  margin-left:50px;
}
