.column_ta {
  float: left;
  padding: 10px;
   /* Should be removed. Only for demonstration */
}
.middle_ta{
width:22%;
}
.right_ta{
width:22%;
}

.left_ta{
width:52%;
}
/* Clear floats after the columns */
.row_ta:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column_ta {
    width: 100%;
    margin:10px;
    height:100%;
  }
}
.button_book {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  cursor: pointer;
  border-radius:10px;
  background-color: #ff9719;
}

.groove {
border-style: groove;
border:1px solid orange;
border-radius:5px;
padding:10px;
width:200px;
}

.text-box{
width:1100px;
text-align:justify;
padding-right: 15px;
padding-left: 15px;
margin-left:50px;

}

/* Create three equal columns that floats next to each other */
.column_amn {
  float: left;
  width: 20%;
  padding: 10px;
  height: 60px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row_amn:after {
  content: "";
  display: table;
  clear: both;

}

.container_amn{
margin-left:50px;
padding-right: 15px;
padding-left: 15px;
width:1100px;
}

ul_de {
  list-style: none;
}

ul_de li::before {
  content: "\2022";
  color: #ff9719;
  font-weight: bold;
  font-size:25px;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.container_rat {
  margin-left:50px;
  max-width: 800px; /* Max width */
  padding: 20px;
}

.heading {
  font-size: 25px;
  margin-right: 25px;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top:10px;
}

.middle {
  margin-top:10px;
  float: left;
  width: 70%;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row_rat:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  .right {
    display: none;
  }
}

.container_revmain {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
  padding-right: 15px;
  padding-left: 15px;
  margin-left:50px;
  width:1100px;
}
.container_rev {
  border: 2px solid #ff9719;
  background-color: #fff;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
  padding-right: 15px;
  padding-left: 15px;
  width:800px;
}

.container_rev::after {
  content: "";
  clear: both;
  display: table;
}

.container_rev img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container_rev span {
  font-size: 20px;
  margin-right: 15px;
}
.container_star{
width:25px;
height:25px;
background-color: #ff9719;
border-radius:5px;
float:right;

}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #ff9719;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

@media (max-width: 400px) {
  .container_rev {
      text-align: center;
  }
  .container img {
      margin: auto;
      float: none;
      display: block;
  }
}
