/* ============================
    property section css
 ===========================*/
@media (min-width: 600px) {
  .container-fluidrent {
    margin-left: 60px;
    margin-right: 60px;
  }
}
.container-fluidrent {
    padding-right: 15px;
    padding-left: 15px;
    
}
.property {
  margin-top: 20px;
  margin-bottom: 30px;
}


.heading{
  font-size: 20px;
  font-weight: bold;
}

.heading-background {
  background-color: #7fffbf;
  padding: 10px;
}

.offers-carousel {
  margin-top: 77px;
}

.rent-price-box {
  margin-top: 21px;
  border: 1px solid #ff9719;
  border-radius: 5px;
  padding: 20px;
}

.rent-price-box h4 {
  color: #ff9719;
}

#info-button {
  background: white;
  border-radius: 3rem;
  border: 1px solid white;
  padding: 5px 15px;
  color: black;
  display: inline-block;
}

.strikeout {
  line-height: 0.5rem;
  position: relative;
}

.strikeout::after {
  border-bottom: 3px solid red;
  content: "";
  left: 0;
  line-height: 1em;
  margin-top: calc(0.125em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
}

.button_book {
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border-radius: 100px;
  background-color: #ff9719;
  border: 1px solid #ff9719;
}

.button_book:hover,
.button_book:focus,
.button_book:active {
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border-radius: 100px;
  background-color: #ff9719;
  border: 1px solid #ff9719;
}

/* ============================
    description section css
 ===========================*/
.description {
  margin-top: 20px;
  margin-bottom: 30px;
}

.description p {
  text-align: justify;
}

.info {
  background-color: white;
  width: 120px;
  margin: 10px;
  text-align: center;
  font-size: 13px;
  padding: 5px;
}

.pg-info {
  color: grey;
  border: 1px solid grey;
  border-radius: 100px;
}

.sheltown-info {
  color: #f76a8c;
  border: 1px solid #f76a8c;
  border-radius: 100px;
}

.male-info {
  color: #3578eb;
  border: 1px solid #3578eb;
  border-radius: 100px;
}

.meal-info {
  color: brown;
  border: 1px solid brown;
  border-radius: 100px;
}

.furnished-info {
  color: #ff971d;
  border: 1px solid #ff971d;
  border-radius: 100px;
}

.available-info {
  color: #29e823;
  border: 1px solid #29e823;
  border-radius: 100px;
}

/* ============================
    amenity section css
 ===========================*/
.amenity {
  margin-top: 20px;
  margin-bottom: 30px;
}

/* Create three equal columns that floats next to each other */
.column_amn {
  float: left;
  width: 15%;
  padding: 5px;
  height: 60px;
}

/* Clear floats after the columns */
.row_amn:after {
  content: "";
  display: table;
  clear: both;
}

.container_amn {
  padding-right: 0px;
  width: 90%;
}

@media (max-width: 600px) {
  .typess {
    width: 300px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .info {
    display: flex;
  }

  .row_amn {
    margin-left: 0rem;
  }

  .column_amn {
    display: flex;
    width: 11rem;
  }
}

/* ============================
    know-section css
 ===========================*/
.know-section {
  margin-top: 20px;
  margin-bottom: 30px;
}

.know-section p {
  margin: 20px 0px 20px 0px;
}

.know-section button {
  background-color: white;
  color: #ff971d;
  padding: 5px 30px;
  margin: 5px;
  border: 1px solid #ff971d;
  border-radius: 100px;
  width: 150px;
}

@media (max-width: 600px) {
  .know-section table {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .know-section p {
    width: 200px;
    margin-left: 4rem;
  }

  .know-section span {
    display: flex;
    width: 50px;
  }
}

/* ============================
    policy  section css
 ===========================*/
.policy {
  margin-top: 20px;
  margin-bottom: 30px;
}

ul_de {
  list-style: none;
}

ul_de li::before {
  content: "\2022";
  color: #ff9719;
  font-weight: bold;
  font-size: 25px;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* ============================
    user-rating  section css
 ===========================*/
.user-rating {
  margin-top: 20px;
  margin-bottom: 30px;
}

.container_rat {
  max-width: 800px;
  /* Max width */
  padding: 20px;
  padding-left: 0px;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  margin-top: 10px;
  float: left;
  width: 70%;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row_rat:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {
  width: 60%;
  height: 18px;
  background-color: #4CAF50;
}

.bar-4 {
  width: 30%;
  height: 18px;
  background-color: #2196F3;
}

.bar-3 {
  width: 10%;
  height: 18px;
  background-color: #00bcd4;
}

.bar-2 {
  width: 4%;
  height: 18px;
  background-color: #ff9800;
}

.bar-1 {
  width: 15%;
  height: 18px;
  background-color: #f44336;
}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }

  .right {
    display: none;
  }
}

/* ============================
    guest  section css
 ===========================*/
.guest {
  margin-top: 20px;
  margin-bottom: 30px;
}

