html{
  zoom: 100%;
}

body {
  background-color: #f2f2f2;
}

.col-sm-3{
  width: 300px!important;
  border: 1px solid black;
}

/* SEARCH BAR */
#search-bar-rental {
  width: 70vw;
  font-size: 1rem;
  border: 1px solid #ff971d;
  padding: 10px;
}

.input-wrapper {
  display:inline-block;
  position: relative
}
.input-wrapper:after {
  font-family: 'FontAwesome';
  content: '\f002';
  position: absolute;
  right: 10px;
  top: 10px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
  background-color: rgb(172, 170, 170);
  padding: 2% 2% 1% 2%;
  font-size: 20px;
  z-index: 4;
}

/* CARDS */
#rental-card {
  padding: 30px 10px 10px 10px;
  border-top: 1px solid rgb(228, 227, 227);
}

s{
  text-decoration: line-through;
  text-decoration-color: red;
}

/* FILTER COLUMN */
#filter-heading {
  font-weight: bold;
  font-size: larger;
  margin-bottom: -2px;
  padding: 5px;
}

input[type="checkbox"] {
  margin-left: 0.5rem;
}

#check-option {
  padding: 1px;
}

input[type=number]{
  width: 7.5em;
} 

input[type=date]{
  width: 13em;
  height: 2.5em;
  font-size: 8px;
} 

#check-option{
  width: 17em;
}

.panel {
  width: 18em;
}

hr {
  width: 100%;
  margin: 5px -5px 5px 0; 
  border: 0.75px solid #f2f2f2;
}
/* POPOVER */
.bs-example2 {
  font-weight: bold;
  font-size: 1.25em;
  color: #FFF;
  text-shadow: 1.25px 1px #25282a;
}

#info-button {
  margin-bottom: 10px;
  background: white;
  border-radius: 3rem;
  border: 1px solid white;
  padding: 5px 15px;
  color: black;
  display: inline-block;
}

/* BUTTON */
input[type="button"] {
  background: blue!important;
  border-radius: 3rem;
  border: 1px solid white;
  padding: 5px 15px;
  color: white;
}

input[type="button"]:hover {
  margin-bottom: 10px;
  background: white;
  border-radius: 3rem;
  border:1px solid blue;
  padding: 5px 15px;
  color: blue;
}

input[type="button"]:focus {
  margin-bottom: 10px;
  background: white;
  border-radius: 3rem;
  border:1px solid #3578eb;
  padding: 5px 15px;
  color: #ff971d;
}

input[type="submit"] {
  background-color: #3578eb;
  padding: 5px 20px;
  border:1px solid #3578eb;
  border-radius: 40px;
  color: white;
  text-align: center;
  margin: 5px 0 10px 5.7em;
}

input[type="submit"]:hover{
  background-color: #f9f6f7 ;
  padding: 5px 20px;
  border:1px solid black;
  border-radius: 40px;
  color: #3578eb;
  transition: .3s;
}

/* CHECKBOX */
.checkbox {
  width: 100%;
  margin: auto;
  position: relative;
  display: block;
}
.checkbox label {
  position: relative;
  min-height: 34px;
  display: block;
  padding-left: 40px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.checkbox label span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.checkbox label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 5px;
  width: 18px;
  height: 18px;
  transition: transform 0.28s ease;
  border-radius: 3px;
  border: 2px solid #ff971d;
}
.checkbox label:after {
  content: '';
  display: block;
  width: 8px;
  height: 4px;
  border-bottom: 2px solid #ff971d;
  border-left: 2px solid #ff971d;
  transform: rotate(-45deg) scale(0);
  transition: transform ease 0.25s;
  position: absolute;
  top: 12px;
  left: 10px;
}
.checkbox input[type="checkbox"] {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
  margin-left: -20px;
}
.checkbox input[type="checkbox"]:checked ~ label:before {
  border: 2px solid #ff971d;
}
.checkbox input[type="checkbox"]:checked ~ label:after {
  transform: rotate(-45deg) scale(1);
}
.checkbox input[type="checkbox"]:focus + label::before {
  outline: 0;
}

#data-left {
  width: 100px;
}

.container-cards button {
  margin-top: -4em;
  background: blue;
  border-radius: 3rem;
  border: 1px solid white;
  padding: 5px 15px;
  color: white;
}

.container-cards button:hover {
  background: white;
  border-radius: 3rem;
  border:1px solid blue;
  padding: 5px 15px;
  color: blue;
}


/*RENTAL CARDS*/
@media screen and (max-width: 1080px) {
  .column_ta {
    width: 100%;
    margin:10px;
    height:100%;
  }

  #rent-name{
    text-align:center;
  }

  #rent-rating {
    text-align: center;
  }

}


#boxpref{
  background-color: #ff971d;
  width: 180px;
  margin: 10px auto;
  text-align: center;
  align-items: center;
  font-size: 13px;
  padding: 5px;
  color: white;
}

#boxpref-maleonly{
  background-color: #3578eb;
  width: 180px;
  margin: 10px auto;
  text-align: center;
  align-items: center;
  font-size: 13px;
  padding: 5px;
  color: white;
}

#boxpref-availablenow{
  background-color: #29e823;
  width: 180px;
  margin: 10px auto;
  text-align: center;
  align-items: center;
  font-size: 13px;
  padding: 5px;
  color: white;
}


#rent-verified {
  color: green; 
  font-size: 12px;
  float: right;
}

#menu li {
  display:inline;
  padding:0 10px;
  font-size: 15px;
}

.cross {
  position: relative;
  display: inline-block;
}
.cross::after {
  content: '';
  width: 100%;
  position: absolute;
  right: 0;
  top: 50%;
}

.cross::after {
  border-bottom: 1.5px solid red;
  -webkit-transform: skewY(10deg);
  transform: skewY(10deg);
}

/*LOAD MORE*/
.content {
  display: none;
}
#loadMore {
  width: 200px;
  color: #fff;
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: blue;
  transition: .3s;
}
#loadMore:hover {
  color: blue;
  background-color: #fff;
  border: 1px solid blue;
  text-decoration: none;
}
.noContent {
  color: #000 !important;
  background-color: transparent !important;
  pointer-events: none;
}


/* COLOURS
white: #ffffff
light grey #f9f6f7
light orange #ffe8d6
orange #ff971d
*/
