/*Modal*/

@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.google-btn {
  width: 184px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.google-btn .google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 10px;
  width: 18px;
  height: 18px;
}
.google-btn .btn-text {
  float: right;
  margin: 13px 9px 0 0;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.2px;
}
.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
  background: #1669F2;
}

.listbox{
  width: 100%;
  margin: 40px;
  background-color:#ff971d;
  color:white;
  border:2px solid #ff971d;
  border-radius: 8px;
  font-size: 15px;
  padding:20px;
}

.fa-check {
  font-size: 15px;
}



