
  .listbox{
    width: 100%;
    background-color:#ff971d;
    color:white;
    border:2px solid #ff971d;
    border-radius: 8px;
    font-size: 13px;
    padding:10px;
  }

  .fa-check {
    font-size: 13px;
  }

  i{
    font-size:60px;
    color:white;
  }
  .confirm-password-msg {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
  }

/* Testimonials Section
--------------------------------*/
#testimonials {
  padding: 30px 0;
}

#testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 30px 30px;
  margin: 30px 15px;
  text-align: center;
  min-height: 350px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
}

#testimonials .testimonial-item .testimonial-img {                                                                                                                                                                                                                                                                                                           
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
  margin-top: 1.5rem;
}

#testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

#testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #ff8c00;
  margin: 0;
}

#testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 10px auto;
}

#testimonials .testimonial-item .las {
  color: #ff8c00;
}

#testimonials .owl-nav,
#testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#testimonials .owl-dot.active {
  background-color: #ff8c00;
}

@media (max-width: 1080px) {
  #testimonials .testimonial-item {
    margin: 30px 10px;
  }
  #portfolio .portfolio-cards{
    margin-right: 2rem;
  }
}

@media (max-width: 1080px) {
  #testimonials .section-header p {
    font-size: 0px;
  }

  #testimonials p {
    font-size: 12px;
  }

  #testimonials .testimonial-item {
    margin: 10px 10px;
  }

  #testimonials .owl-nav,
  #testimonials .owl-dots {
    margin-top: 1px;
  }

  #testimonials .owl-dot {
    margin: 0 5px;
    width: 8px;
    height: 8px;
  }
}
/* ====== testimonials =========*/
.testimonials{
  margin-bottom: 30px;
}
.testimonials h2 {
  color: #000;
  font-size: 24px;
  font-weight: 300;
  position: relative;
  margin: 0 0 50px 0;
  text-transform: uppercase;
  display: inline-block;
}
.testimonials h2::after {
  content: "";
  width: 50%;
  position: absolute;
  height: 4px;
  border-radius: 1px;
  background: orange;
  left: 0;
  bottom: -20px;
}
.carousel {
  margin: 50px auto;
}
.carousel .item {
  color: #999;
  overflow: hidden;
  min-height: 120px;  
  font-size: 13px;
}
.carousel .media {
  position: relative;
  padding: 0 0 0 20px;
  margin-left: 20px;
}
.carousel .media img {
  width: 75px;
  height: 75px;
  display: block;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border: 2px solid #fff;
}
.carousel .testimonial {
  color: #fff;
  position: relative;    
  background: #646363;
  padding: 15px;
  margin: 0 0 20px 20px;
}
.carousel .testimonial::before, .carousel .testimonial::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -20px;
}
.carousel .testimonial::before {
  width: 20px;
  height: 20px;
  background: #9b9b9b;
  box-shadow: inset 12px 0 13px rgba(0,0,0,0.5);
}
.carousel .testimonial::after {
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
}
.carousel .item .row > div:first-child .testimonial {
  margin: 0 20px 20px 0;
}
.carousel .item .row > div:first-child .media {
  margin-left: 0;
}
.carousel .testimonial p {
  text-indent: 40px;
  line-height: 21px;
  margin: 0;
}
.carousel .testimonial p::before {
  
  color: #fff;
  font-weight: bold;
  font-size: 68px;
  line-height: 70px;
  position: absolute;
  left: -25px;
  top: 0;
}
.carousel .overview {
  padding: 3px 0 0 15px;
}
.carousel .overview .details {
  padding: 5px 0 8px;
}
.carousel .overview b {
  text-transform: uppercase;
  color: orange;
}
.carousel .carousel-control {
  width: 30px;
  height: 30px;
  background: #666;
  text-shadow: none;
  top: 4px;
}
.carousel-control i {
  font-size: 16px;
}
.carousel-control.left {
  left: auto;
  right: 40px;
}
.carousel-control.right {
  left: auto;
}
.carousel-indicators {
  bottom: -80px;
}
.carousel-indicators li, .carousel-indicators li.active {
  width: 18px;
  height: 18px;
  border-radius: 0;
  margin: 1px 4px;
}
.carousel-indicators li {   
  background: #e2e2e2;
  border: 4px solid #fff;
}
.carousel-indicators li.active {
  color: #fff;
  background: orange;    
  border: 5px double;    
}
.star-rating li {
  padding: 0 2px;
}
.star-rating i {
  font-size: 14px;
  color: orange;
}