body {
    background: #f1f1f1;
  }
    p{
        margin-bottom: 0;
    }
  
    .container {
        width: 75vw;
    }

    .middle {
        background-color: white;
        border: 1px solid #dee2e6;
        border-radius: 5px;
    }

    /* ALERTS */
    #alert{
        background-color:   rgb(87, 162, 224);
        color: white;
        border: none;
        padding: 5px 10px 5px 10px;
        border-radius: 5px;    
    }
  

    #alert:hover{
        background-color:  rgb(79, 145, 199);
        color: white;
        border: none;
        padding: 5px 10px 5px 10px;
        border-radius: 5px;      
    }

    /* SEARCH BAR */
    .image-card{
        background-color: white;
        border-top: 1px solid #dee2e6;
        border-left: 1px solid #dee2e6;
        border-right: 1px solid #dee2e6;
        border-radius: 5px 5px 0 0;
    }
  
    #search-bar{
        background-color: grey;
        border-bottom: 1px solid #dee2e6;
        border-left: 1px solid #dee2e6;
        border-right: 1px solid #dee2e6;
        border-radius: 0 0 5px 5px;
        padding: 20px;
    }

    .job-keyword{
        padding: 10px;
        border-radius: 5px;
        border: none;
        font-size: 15px;
        width: 20rem;
        margin-right: 5px;
    }

    .job-keyword::placeholder{
        color: rgb(80, 79, 79);
        font-size: 15px; 
    }

    #search{
        background-color: rgb(219, 44, 44);
        color: white;
        border: none;
        padding: 5px 10px 5px 10px;
        border-radius: 5px;    
    }

    #search:hover{
        background-color: rgb(223, 74, 74);
        color: white;
        border: none;
        padding: 5px 10px 5px 10px;
        border-radius: 5px;      
    }

    /* JOB CARDS */
    #heading{
        padding: 15px;
        font-size: 20px;
    }

    #jobs-card{
        width: 73%; 
        flex: 0 0 73%; 
        max-width: 73%;
    }

    #job {
        padding: 15px;
    }

    #job-post{
        color: rgb(34, 120, 170);
    }

    #job-place{
        font-size: 13px;
        color: rgb(34, 120, 170)
    }

    #job-details{
        margin-top: 5px;
        font-size: 13px;
    }

    ul {
        list-style-type: none;
    }

    /* MY PROFILE */
    #profile-heading{
        border-bottom: 1px solid #dee2e6;
        padding: 5px;
        font-weight: 500;
    }

    #profile-details{
        font-size: 13px;
        padding: 5px;
    }

    input[type="file"]{
        font-size: 13px;
        margin: 0 5px 5px 5px;
    }

    #submission-btn{
        font-size: 13px;
        border: none;
        margin: 0 5px 5px 5px;
        padding: 4px;
        border: 0.5px solid rgb(109, 109, 109);
        border-radius: 2px;
    }

    #submission-btn:hover{
        font-size: 13px;
        border: none;
        margin: 0 5px 5px 5px;
        padding: 4px;
        border: 0.5px solid rgb(109, 109, 109);
        background-color: #e2e2e2;
        border-radius: 2px;
    }

    #image-top{
        height: 250px;
        width: 478px;
    }

    @media screen and (max-width: 1080px){
        .container{
            width: 90%;
        }
        #image-top{
            width: 100%;
        }

        #alert{
            margin: 5px auto!important;
        }

        .job-keyword{
            width: 100%;
            margin: 5px auto;
        }

        #search{
            margin-left: 40%;
            margin-top: 5px;
        }
        #jobs-card{
            width: 100%; 
            flex: 0 0 100%; 
            max-width: 100%;
        }
    }
